@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Variables */
:root {
    --color-primary: #149ddd;
    --color-secondary: #2e4f4f;
    --dark-blue: #021124;
    --dark-grey: #a8a9b4;
    --light-grey: #d9d9d9;
    --text-white: #fff;
}

html,
body {
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #021124;
    overflow-y: auto;
    width: 300px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2c2c;
    border-radius: 50%;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: Ubuntu, Arial;
}

#header .profile .social-links a {
    font-size: 1rem;
    background: #212431;
    color: #fff;
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}

#header .profile .social-links a:hover {
    background: #149ddd;
}

.nav-menu {
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: var(--dark-grey);
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--text-white);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: #149ddd;
}

#main {
    margin-left: 300px;
}

section#inicio {
    background-image: url("./img/PolygonLuminary.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}

section#inicio h2 {
    font-size: 5rem;
}

section#inicio span#subtitle {
    /* margin-right: 8rem; */
    font-size: 1.5rem;
}

.text-shadow {
    text-shadow: 4px 4px 10px #000;
}

.coffee {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Novo contêiner para o fundo com o efeito luminoso */
.coffee-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Cor branca com transparência */
    border-radius: 50%;
    /* Tornar redondo */
    z-index: 0;
    /* Fica atrás da imagem */
    animation: float-background 8s ease-in-out infinite;
    width: 100%;
    /* Ajusta o tamanho da largura */
    height: 100%;
    /* Ajusta o tamanho da altura */
    filter: blur(10px);
    /* Aplica o desfoque geral */
    background: radial-gradient(circle, rgba(24, 54, 179, 0.65) 40%, transparent 100%);
    
}

/* Contêiner da imagem do café */
.coffee-icon-wrapper {
    position: relative;
    /* Para garantir que a imagem fique na frente */
    width: 350px;
    /* Ajuste conforme necessário */
    height: 350px;
    /* Ajuste conforme necessário */
    z-index: 1;
    /* Fica acima do fundo */
}

/* Imagem do café */
#coffee-icon {
    width: 100%;
    height: 100%;
    animation: float 8s ease-in-out infinite;
    position: relative;
    z-index: 1;
    /* Fica acima do fundo */
}

/* Animação de flutuação e rotação para o ícone de café */
@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
        /* Posição inicial */
    }

    20% {
        transform: translateY(-5px) rotate(3deg);
        /* Leve subida com rotação */
    }

    40% {
        transform: translateY(0) rotate(-3deg);
        /* Volta à posição inicial com rotação para o outro lado */
    }

    60% {
        transform: translateY(-8px) rotate(2deg);
        /* Outra leve subida com rotação */
    }

    80% {
        transform: translateY(0) rotate(-2deg);
        /* Mais leve rotação enquanto volta à posição original */
    }

    100% {
        transform: translateY(0) rotate(0deg);
        /* Retorna à posição inicial sem rotação */
    }
}

/* Animação de flutuação e rotação para o fundo */
@keyframes float-background {
    0% {
        transform: translateY(0) translateX(0);
        /* Posição inicial no centro */
    }

    25% {
        transform: translateY(-15px) translateX(-5px);
        /* Leve subida e movimento à esquerda */
    }

    50% {
        transform: translateY(2px) translateX(5px);
        /* Movimento para baixo e à direita */
    }

    75% {
        transform: translateY(-6px) translateX(-7px);
        /* Outra leve subida e movimento à esquerda */
    }

    100% {
        transform: translateY(0) translateX(0);
        /* Retorna à posição inicial no centro */
    }
}


section#inicio div#arraste {
    width: 9rem;
}

section#inicio div#arraste a {
    text-decoration: none;
    color: #fff;
}
.about-img {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Cor branca com transparência */
    border-radius: 50%;
    /* Tornar redondo */
    z-index: 0;
    /* Fica atrás da imagem */
    animation: float-background 8s ease-in-out infinite;
    width: 100%;
    /* Ajusta o tamanho da largura */
    height: 100%;
    /* Ajusta o tamanho da altura */
    filter: blur(10px);
    /* Aplica o desfoque geral */
    background: radial-gradient(circle, rgba(24, 54, 179, 0.65) 40%, transparent 100%);
}

.about-img-wrapper {
    position: relative;
    max-width: 340px; /* Limita a largura da imagem a 300px */
    height: auto;
    z-index: 1;
}

.about-img-wrapper img {
    max-width: 340px; /* Limita a largura da imagem a 300px */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Deixa a imagem arredondada */
    position: relative;
    z-index: 1;
}



.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 2.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    max-height: 300px;
    min-height: 150px;
    text-align: center;
    background: var(--light-grey);
    color: var(--dark-blue);
    padding: 20px 25px;
    border-radius: 8px;
    transition: all .45s ease;
}

.box:hover {
    transform: scale(1.02) translateY(-8px);
}

.s-icons i {
    font-size: 2rem;
    color: var(--dark-blue);
    margin-bottom: 10px;
    transition: all .45s ease;
}
.s-icons img {
    width: 32px;
    height: 32px;
    margin-bottom: 10px;
}


.box h3 {
    margin-top: 10px;
    font-size: 1rem;
}

i.menu-mobile {
    position: fixed;
    color: #fff;
    background-color: #252c90;
    right: 1rem;
    top: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header {
    left: 0;
}

.section-bg {
    background-color: #f5f8fd;
}

/* Section Curriculo */
.cv .cv-title {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.cv .cv-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.cv .cv-item h4 {
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #1f5297;
    margin-bottom: 10px;
}

.cv .cv-item h5 {
    background: #e4ebf6;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.cv .cv-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 8px;
    left: -9px;
    background: #fff;
    border: 2px solid #1f5297;
}

/* Carousel */
.carousel-control-prev {
    margin-left: -8rem;
}

.carousel-control-next {
    margin-right: -8rem;
}

.carousel-indicators {
    margin-bottom: -50px;
}

.carousel-item .card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Form */
#btn-send-spinner {
    display: none;
}

/* Footer */
#footer {
    padding: 15px;
    color: #fff;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background-color: #021124;
    transform: .3s;
}

/* Flash Alert */
#flash-alert {
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
}


/* Custom Scroll Bar */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #252c90;
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}




/* Animations */
[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* media queries */

@media (max-width: 1860px) {
    .carousel-control-prev {
        margin-left: 0rem;
    }

    .carousel-control-next {
        margin-right: 0rem;
    }

    [data-anime="right"] {
        transform: translate3d(-100%, 0, 0);
    }
}


@media (max-width: 1024px) {
    #header {
        left: -300px;
    }

    i.menu-mobile {
        display: flex;
    }

    section#inicio h2 {
        font-size: 3rem;
    }

    section#inicio,
    span#subtitle {
        margin-right: 0;
        font-size: 1.2rem;
    }

    #main {
        margin-left: 0;
    }

    #footer {
        position: static;
        width: 100%;
        padding: 20px 15px;
    }

}