<section id="about" class="container mt-5 mb-5">
    <div class="w-100">
        <h2 class="display-2" data-anime="down">Sobre Mim</h2>
        <div class="row">
            <div class="col-md-6 mt-3 d-flex justify-content-center" data-anime="right">
                <div class="about-img">
                    <div class="about-img-background img-fluid w-100"></div>
                    <div class="about-img-wrapper">
                        <img class="img-fluid w-100" src="../static/img/leonardo-ia-croped.jpg"
                            alt="" data-anime="left">
                    </div>
                </div>
            </div>

            <div class="col-md-6" data-anime="right">
                <p class="display-5">Apaixonado por tecnologia e dados.</p>
                <p>
                    Engenheiro de Dados Júnior com conhecimento prático em coleta e processamento de dados via
                    web
                    scraping e APIs, automação de processos e desenvolvimento de pipelines eficientes.
                    Conhecimentos
                    sólidos no desenvolvimento e versionamento de códigos para manipulação, obtenção e gestão
                    dos
                    dados utilizando Python e bibliotecas como Pandas, SQLAlchemy, Polars, DuckDB, Selenium,
                    BeautifulSoup, entre outras.
                </p>
                <div class="mt-3 mb-3">
                    <ul>
                        <li>
                            Graduando em Análise e Desenvolvimento de Sistemas (Prev. 12/2025)
                        </li>
                        <li>
                            2 anos de experiência (incluindo 1 ano de trabalho voluntário em dados)
                        </li>
                        <li>
                            Estudando soluções em nuvem e arquitetura de dados
                        </li>
                    </ul>
                </div>

            </div>
        </div>

</section>