<section id="about" class="container mt-5 mb-5">

    <div class="w-100">

        <h2 class="display-2" data-anime="down">Sobre Mim</h2>

        <div class="row">

            <div class="col-md-6 mt-3 d-flex justify-content-center" data-anime="right">

                <div class="about-img">

                    <div class="about-img-background img-fluid w-100"></div>

                    <div class="about-img-wrapper">

                        <img class="img-fluid w-100" src="../static/img/leonardo-ia-croped.jpg" alt=""
                            data-anime="left">

                    </div>

                </div>

            </div>


            <div class="col-md-6" data-anime="right">

                <p class="display-5">Apaixonado por tecnologia e dados.</p>

                <p>

                    Especialista em Engenharia de Dados com foco na modernização de arquiteturas e automação de
                    processos no setor de saúde pública. Experiência sólida na implementação de culturas de dados do
                    zero, desde a configuração de infraestrutura On-Premise até a entrega de camadas analíticas.
                    Expertise no tratamento de dados sensíveis e na construção de pipelines com Airbyte e Apache
                    Airflow, garantindo integridade e linhagem em todo o ciclo de vida do dado.

                </p>

                <div class="mt-3 mb-3">

                    <ul>

                        <li>

                            Graduando em Análise e Desenvolvimento de Sistemas (Prev. 12/2025)

                        </li>

                        <li>

                            3 anos de experiência (incluindo 1 ano de trabalho voluntário em dados)

                        </li>

                        <li>

                            Estudando soluções em nuvem e arquitetura de dados

                        </li>

                    </ul>

                </div>


            </div>

        </div>


</section>