<section id="inicio" class="row m-0 p-0">
    <div class="col-md-11 row d-flex justify-content-center align-items-center">

        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <h2 class="text-white text-shadow">Gabriel Moscarde</h2>
            <span id="subtitle" class="text-white text-shadow">Engenheiro de Dados Junior</span>
        </div>

        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <div class="coffee">
                <div class="coffee-background"></div>
                <div class="coffee-icon-wrapper">
                    <img id="coffee-icon" class="img-fluid" src="../static/img/coffee.png" alt="Foto de perfil">
                </div>
            </div>
        </div>
    </div>
        


    <div class="col-md-1 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
            <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
            <a href="#sobre">Arraste para mais</a>
        </div>
    </div>
</section>