<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" type="image/png" href=""> -->
    <title>Gabriel Moscarde</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil-photo.jpeg" alt="Foto de perfil">
            <h1>Gabriel Moscarde</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="#"><i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="#"><i class="bi bi-github"></i></a>
                <a target="_blank" href="#"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="#"><i class="bi bi-youtube"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill"></i>
                        Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#habilidades"><i class="bi bi-award-fill"></i>
                        Habilidades</a>
                </li>

                <li class="nav-item">
                    </i><a class="nav-link" aria-current="page" href="#curriculo"><i class="bi bi-file-earmark"></i>
                        Currículo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#portifolio"><i class="bi bi-collection"></i>
                        Portifólio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>
        </nav>

    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Gabriel Moscarde</h2>
                <span id="subtitle" class="text-white text-shadow">Engenheiro de Dados Junior</span>
            </div>
            <div class="col-md-3 d-flex justify-content-center align-items-center">
                <div class="coffee">
                    <div class="coffee-background"></div>
                    <div class="coffee-icon-wrapper">
                        <img id="coffee-icon" class="img-fluid" src="../static/img/coffee.png" alt="Foto de perfil">
                    </div>
                </div>
            </div>



            <div class="col-md-3 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section id="sobre" class="container mt-5 mb-5">
            <div class="row w-100">
                <div class="row mt-4">
                    <h2 class="display-2">Sobre Mim</h2>
                    <div class="col-md-4 d-flex justify-content-center">
                        <div class="about-img">
                            <div class="about-img-background"></div>
                            <div class="about-img-wrapper">
                                <img class="img-fluid shadow rounded-circle" src="../static/img/leonardo-ia-croped.jpg"
                                    alt="" data-anime="left">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8" data-anime="right">
                        <p class="display-5">Apaixonado por tecnologia e dados.</p>
                        <p>
                            Engenheiro de Dados Júnior com conhecimento prático em coleta e processamento de dados via
                            web
                            scraping e APIs, automação de processos e desenvolvimento de pipelines eficientes.
                            Conhecimentos
                            sólidos no desenvolvimento e versionamento de códigos para manipulação, obtenção e gestão
                            dos
                            dados utilizando Python e bibliotecas como Pandas, SQLAlchemy, Polars, DuckDB, Selenium,
                            BeautifulSoup, entre outras.
                        </p>
                        <div class="mt-3 mb-3">
                            <ul>
                                <li>
                                    Graduando em Análise e Desenvolvimento de Sistemas (Prev. 12/2025)
                                </li>
                                <li>
                                    2 anos de experiência (incluindo 1 ano de trabalho voluntário em dados)
                                </li>
                                <li>
                                    Estudando soluções em nuvem e arquitetura de dados
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

        </section>

        <section id="habilidades" class="mt-5 section-bg">
            <div class="container pb-5">
                <h2 class="pt-5 display-2">Skills</h2>

                <div class="skills-grid pt-3">
                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bxl-python"></i>
                        </div>
                        <h3>Python</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/simple-icons--pandas.svg">
                        </div>
                        <h3>Pandas</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bx-data"></i>
                        </div>
                        <h3>SQL</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/simple-icons--polars.svg">
                        </div>
                        <h3>Polars</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/simple-icons--duckdb.svg">
                        </div>
                        <h3>DuckDB</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/simple-icons--selenium.svg">
                        </div>
                        <h3>Selenium</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/material-symbols-light--soup-kitchen-outline-rounded.svg">

                        </div>
                        <h3>BeautifulSoup</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/lineicons--mysql.svg">
                        </div>
                        <h3>MySQL</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/arcticons--microsoft-power-bi.svg">
                        </div>
                        <h3>Power BI</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/file-icons--flask.svg">

                        </div>
                        <h3>Flask</h3>
                    </div>


                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/simple-icons--spacy.svg">

                        </div>
                        <h3>spaCy</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/file-icons--opencv.svg">

                        </div>
                        <h3>OpenCV</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/devicon-plain--sqlalchemy-wordmark.svg">

                        </div>
                        <h3>SQLAlchemy</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/mdi--api.svg">

                        </div>
                        <h3>APIs</h3>
                    </div>


                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <img src="../static/img/icons/carbon--flow-data.svg">

                        </div>
                        <h3>ETL</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bxl-javascript"></i>
                        </div>
                        <h3>JavaScript</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bxs-group"></i>
                        </div>
                        <h3>Trabalho em Equipe</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bx-target-lock"></i>
                        </div>
                        <h3>Proatividade</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bx-detail"></i>
                        </div>
                        <h3>Orientação a Detalhes</h3>
                    </div>

                    <div class="box" data-anime="down">
                        <div class="s-icons">
                            <i class="bx bx-conversation"></i>
                        </div>
                        <h3>Comunicação</h3>
                    </div>
                </div>

            </div>
        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4 display-2" data-anime="down">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title" data-anime="down">Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Engenheiro de Dados (Voluntário)</h4>
                            <h5>JUN 2024 - ATUAL</h5>
                            <p>
                                <em>SouJunior (Remoto)</em>
                            </p>
                            <p>
                                Conduzi um projeto comparativo entre diferentes engines de processamento de dados,
                                incluindo Pandas, Polars e DuckDB, visando otimizar a performance de pipelines de ETL.
                                Durante o projeto, participei da concepção e do desenvolvimento de uma solução voltada
                                para tech recruiters, utilizando técnicas avançadas de processamento e armazenamento de
                                dados, como indexação e Named Entity Recognition (NER). A solução incorporou tecnologias
                                como spaCy e OpenCV para processamento de imagens e PDFs, além de técnicas de automação
                                para otimização de workflows.
                            </p>
                            <p>
                                <strong>Skills:</strong> Pandas, Polars, DuckDB, ETL, Otimização de Processos,
                                SQLAlchemy, Flask, MySQL,
                                SQLite, ngrok, spaCy, OpenCV, PDFPlumber
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Analista de Dados (Voluntário)</h4>
                            <h5>JUN 2023 - DEZ 2024</h5>
                            <p>
                                <em>SouJunior (Remoto)</em>
                            </p>
                            <p>
                                Participei ativamente da criação e apresentação de um Dashboard de Redes Sociais em
                                Power BI durante a live de celebração dos 2 anos da SouJunior. Através dessa
                                experiência, refinei minhas habilidades de storytelling e comunicação de dados,
                                apresentando resultados de maneira clara e impactante. Colaborei na extração de dados e
                                desenvolvimento do dashboard, desde a coleta até a implementação, utilizando PowerQuery
                                para transformar os dados. Além disso, desenvolvi um script em Python com Selenium para
                                automatizar a extração de dados de redes sociais, melhorando a precisão e eficiência do
                                processo.
                            </p>
                            <p>
                                <strong>Skills:</strong> Power BI, PowerQuery, Apresentação de Dados, Storytelling,
                                Figma, Visualização
                                de Dados, Python, Pandas, Selenium, Automação de Dados, Web Scraping
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Vendedor e Coordenador de Produção</h4>
                            <h5>2017 - DEZ 2024</h5>
                            <p>
                                <em>MM Paletes</em>
                            </p>
                            <p>
                                Liderando a criação da linha de móveis mais vendida da empresa, fui responsável por
                                todos os aspectos, desde a concepção inicial até o produto final. Essa experiência me
                                permitiu desenvolver habilidades de gestão de produto e coordenar equipes de produção,
                                assegurando que os processos fossem eficientes e os padrões de qualidade atendidos.
                                Através da implementação de melhorias no controle de estoque e na logística de entregas,
                                fui capaz de reduzir custos operacionais e aumentar a satisfação dos clientes, gerando
                                uma produção mais ágil e eficaz.
                            </p>
                            <p>
                                <strong>Skills:</strong> Gestão de Produto, Coordenação de Produção, Controle de
                                Estoque, Logística,
                                Redução de Custos, Melhoria de Processos
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title" data-anime="down">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Médio Técnico</h4>
                            <h5>2012 - 2015</h5>
                            <p>
                                <em>Escola Santa Bárbara</em>
                            </p>
                            <p>
                                Recebi conceitos e técnicas de informática e teoria de sistemas para contribuir na
                                solução de problemas utilizando tecnologias como HTML, CSS, JavaScript, AutoCad,
                                Photoshop, Delphi e SQL.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Analise e Desenvolvimento de Sistemas</h4>
                            <h5>2022 - Em curso</h5>
                            <p>
                                <em>Anhanguera</em>
                            </p>
                            <p>
                                Atualmente, estou me aprofundando no estudo de arquitetura de software, linguagens de
                                programação como Java, Python e C#, além de metodologias ágeis e bancos de dados
                                relacionais e não relacionais. O curso oferece uma base sólida para o desenvolvimento de
                                soluções tecnológicas, abordando desde a análise de requisitos até a implementação e
                                manutenção de sistemas complexos. Estou desenvolvendo habilidades em frameworks
                                modernos, integração de sistemas e segurança da informação, com foco em otimizar
                                processos e criar soluções eficientes para o mercado.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="portifolio" class="mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="up">
                <h2 class="pt-3 pb-4 display-2">Últimos Projetos</h2>

                <div id="carrouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carrouselPortifolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carrouselPortifolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="6000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="https://github.com/Moscarde/data-engines-benchmark/raw/main/images/header.png"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Data Engines Benchmark</h5>
                                            <p class="card-text">Estudo comparativo entre engines de processamento de
                                                dados em um projeto real.</p>
                                            <div class="d-flex justify-content-center">


                                                <a href="https://github.com/Moscarde/data-engines-benchmark"
                                                    class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="https://github.com/Moscarde/PythonPostMaker/raw/main/screenshots/anon_false.png"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Python Post Maker</h5>
                                            <p class="card-text">Projeto para automatizar a criação de postagens no
                                                Instagram coletando data de posts no Linkedin.</p>
                                            <div class="d-flex justify-content-center">

                                                <a href="https://github.com/Moscarde/PythonPostMaker"
                                                    class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="https://github.com/Moscarde/perfect_resume_finder/raw/main/screenshots/screenshot_home.png"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Perfect Resume Finder (Em desenvolvimento)</h5>
                                            <p class="card-text">Aplicação com interface para gerenciar um banco de
                                                dados de curriculos assim como facilitar o uso dos recruiters.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Moscarde/perfect_resume_finder" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                

                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="https://user-images.githubusercontent.com/98126579/197552268-8e7a4aea-5790-4cfb-b649-141c08037e32.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">SouJunior Data Plataform (Em desenvolvimento)</h5>
                                            <p class="card-text">Este projeto tem como objetivo gerenciar múltiplos
                                                pipelines de dados que irão alimentar uma plataforma de dados com
                                                arquitetura medalion (stage, raw e clean).</p>

                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/Moscarde/Ilimidados-Platform" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/junior zone.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Junior Zone</h5>
                                            <p class="card-text">Junior Zone é um projeto para ajudar desenvolvedores e
                                                analistas iniciantes a encontrarem com facilidade boas oportunidades de
                                                vagas de emprego.</p>

                                            <div class="d-flex justify-content-center">
                                                <!-- <a href="#" class="btn btn-outline-primary me-3" target="_blank"><i
                                                        class="bi bi-link-45deg"></i></a> -->

                                                <a href="https://github.com/Moscarde/Junior_Zone" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carrouselPortifolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carrouselPortifolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </section>

        <section id="articles" class="mt-5 section-bg">
            <div class="container pb-5 pt-5" data-anime="up">
                <h2 class="pt-3 pb-4 display-2">Últimos Artigos</h2>

                <div id="carrouselArticles" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carrouselArticles" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carrouselArticles" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="6000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/folium.jpg"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Folium: Criando mapas interativos com dados reais de forma simples</h5>
                                            <p class="card-text">Exploração de funcionalidades da biblioteca folium.</p>
                                            <div class="d-flex justify-content-center">


                                                <a href="https://moscarde.medium.com/folium-criando-mapas-interativos-com-dados-reais-de-forma-simples-c20ab89b5c79"
                                                    class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-medium"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*k2lKeIrfbF7nTjVgNt7sQg.jpeg"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Python e Cookies 🍪: Guia de Automação de Tarefas com Python e Selenium</h5>
                                            <p class="card-text">Fundamentos de automação web usando Python com Selenium e, algumas dicas que aprendi com o tempo.</p>
                                            <div class="d-flex justify-content-center">

                                                <a href="https://moscarde.medium.com/python-e-cookies-guia-de-automa%C3%A7%C3%A3o-de-tarefas-com-python-e-selenium-6b3d796e1c63"
                                                    class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-medium"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*izPID6yIiZtGRntNf96Tow.jpeg"
                                            class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Explorando o SQLAlchemy: ORM e Operações CRUD com Python</h5>
                                            <p class="card-text">Exploração de funcionalidades de operações CRUD com a biblioteca SQLAlchemy</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://moscarde.medium.com/explorando-o-sqlalchemy-orm-e-opera%C3%A7%C3%B5es-crud-com-python-da9914df0eaa" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-medium"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                

                            </div>
                        </div>

                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">

                                <div class="col">
                                    <div class="card">
                                        <img src="https://user-images.githubusercontent.com/98126579/197552268-8e7a4aea-5790-4cfb-b649-141c08037e32.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Otimizando Scripts em Python: Lições Aprendidas com Processamento Paralelo</h5>
                                            <p class="card-text">Analisando o desempenho de scripts em Python com e sem paralelismo.</p>

                                            <div class="d-flex justify-content-center">
                                                <a href="https://moscarde.medium.com/otimizando-scripts-em-python-li%C3%A7%C3%B5es-aprendidas-com-processamento-paralelo-7b8d3e17d659" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-medium"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*oLbI8ubtRpw7UDSzH4hLEA.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Benchmark Engines de Processamento de Dados — POLARS X PANDAS X DUCKDB</h5>
                                            <p class="card-text">Testes comparativos entre diferentes engines de processamento de dados para identificar a melhor opção para nossa pipeline de ETL.</p>

                                            <div class="d-flex justify-content-center">
                                                <!-- <a href="#" class="btn btn-outline-primary me-3" target="_blank"><i
                                                        class="bi bi-link-45deg"></i></a> -->

                                                <a href="https://moscarde.medium.com/benchmark-engines-de-processamento-de-dados-polars-x-pandas-x-duckdb-3ae25a60f92c" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-medium"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card">
                                        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*TCh7qNtdpvXwht_K2l0_WQ.jpeg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Importação e tratamento de dados de multiplas planilhas Excel no Power BI</h5>
                                            <p class="card-text">Abordagens para importação e tratamento de dados de multiplas planilhas Excel no Power BI</p>

                                            <div class="d-flex justify-content-center">
                                                <!-- <a href="#" class="btn btn-outline-primary me-3" target="_blank"><i
                                                        class="bi bi-link-45deg"></i></a> -->

                                                <a href="https://moscarde.medium.com/importa%C3%A7%C3%A3o-e-tratamento-de-dados-de-multiplas-planilhas-excel-no-power-bi-5027b9e52afd" class="btn btn-outline-dark" target="_blank"><i
                                                        class="bi bi-medium"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carrouselArticles"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carrouselArticles"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </section>

        <div id="contato" class="pt-5 pb-5">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <!-- mapa -->
                    <div class="col-md-5" data-anime="left">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização</h4>
                                <p>Rio de Janeiro - RJ</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail</h4>
                                <p>gabrielmoscarde@outlook.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235198.68142636976!2d-43.44598205!3d-22.91413075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bde559108a05b%3A0x50dc426c672fd24e!2sRio%20de%20Janeiro%2C%20RJ!5e0!3m2!1spt-BR!2sbr!4v1704680530424!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <!-- formulario -->
                    <div class="col-md-7 mt-5 mt-md-0" data-anime="right">
                        <div class="card p-5 w-100 shadow border-0">

                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome..." required>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email..." required>
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem"
                                        placeholder="Digite sua mensage..." rows="9" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-5">
                                    <button id="btn-send" type="submit" class="btn btn-primary">Enviar mensagem</button>

                                    <button id="btn-send-spinner" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Flask Flashes Message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="flash-alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- {% block body %}{% endblock %} -->

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                Desenvolvido por <strong>Gabriel Moscarde</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>